USE [BXH]
GO
/****** Object:  Table [dbo].[BXH]    Script Date: 19/07/2024 4:24:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BXH](
	[THOIGIAN] [nchar](10) NOT NULL,
	[ID_NGUOICHOI] [nchar](10) NOT NULL,
	[DIEM] [int] NULL,
 CONSTRAINT [PK_BXH] PRIMARY KEY CLUSTERED 
(
	[THOIGIAN] ASC,
	[ID_NGUOICHOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOICHOI]    Script Date: 19/07/2024 4:24:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOICHOI](
	[ID] [nchar](10) NOT NULL,
	[NAME] [nchar](20) NULL,
 CONSTRAINT [PK_NGUOICHOI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BXH] ([THOIGIAN], [ID_NGUOICHOI], [DIEM]) VALUES (N'8_2024    ', N'an0211    ', 400)
INSERT [dbo].[BXH] ([THOIGIAN], [ID_NGUOICHOI], [DIEM]) VALUES (N'8_2024    ', N'tran2201  ', 290)
INSERT [dbo].[BXH] ([THOIGIAN], [ID_NGUOICHOI], [DIEM]) VALUES (N'9_2024    ', N'an0211    ', 370)
GO
INSERT [dbo].[NGUOICHOI] ([ID], [NAME]) VALUES (N'an0211    ', N'Truong An           ')
INSERT [dbo].[NGUOICHOI] ([ID], [NAME]) VALUES (N'tran2201  ', N'Bao Tran            ')
GO
ALTER TABLE [dbo].[BXH]  WITH CHECK ADD  CONSTRAINT [FK_BXH_NGUOICHOI] FOREIGN KEY([ID_NGUOICHOI])
REFERENCES [dbo].[NGUOICHOI] ([ID])
GO
ALTER TABLE [dbo].[BXH] CHECK CONSTRAINT [FK_BXH_NGUOICHOI]
GO
