<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.js"></script>
</head>
<body>
    BẢNG XẾP HẠNG

    <div>
        @RenderBody()
    </div>

    <!--FOOTER-->
    <footer class="text-center text-lg-start bg-body-tertiary text-muted">
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2024 BẢO TRÂN:
            <a class="text-reset fw-bold" href="https://mdbootstrap.com/">baotran.com</a>
        </div>
    </footer>
</body>
</html>


